body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: color(secondary);
}

// custom Padding
section{
  padding: 90px 0px; 
}

// custom container
.custom__container {
  @media(min-width: 1200px) {
    max-width: 1440px;
    margin: auto;
  }
}

