//  Colors variable goes here
$colors: (
  primary: #377dff,
  secondary: #252933,
);

@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}
// Fonts Variable goes here
