.got-question{
    background-color: color(primary);
    padding: 30px;
    border-radius: 5px;
    background-image: url(../images/shape/004-comments.svg);
    background-position: 3%;
    background-repeat: no-repeat;
    background-size: contain;
    &__info{
        color: #ffffff;
        padding-left: 250px;
        h5{
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 0px;
        }
        p{
            font-size: 16px;
            color: rgba(255, 255, 255, 0.75);
            margin-bottom: 0px;
            white-space: nowrap;
            padding: 8px 0px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .got-question__info{
        padding-left: 118px;
    }
 }
 @media (min-width: 576px) and (max-width: 767px) {
    .got-question{
        flex-wrap: wrap;
        background-position: top left;
        background-size: 150px;
    }
    .got-question__info {
        padding-left:0px;
        padding-top: 115px;
        margin: 0px auto 20px;
    }
    .got-question .btn{
        margin: 0 auto;
    }
 } 
 @media (max-width: 575px) { 
    .got-question{
        flex-wrap: wrap;
        background-position: top left;
        background-size: 150px;
    }
    .got-question__info {
        padding-left:0px;
        padding-top: 130px;
        margin-bottom: 20px;
    }
    .got-question .btn{
        margin: 0 auto;
    }
    .got-question__info h5{
        text-align: center;
    }
    .got-question__info p {
        white-space: normal;
        text-align: center;
        margin-top: 15px;
    }
  }
