.got-question{
    background-color: $primary;
    padding: 30px;
    padding-left: 250px;
    border-radius: 5px;
    background-image: url(../images/comments.svg);
    background-position: 3%;
    background-repeat: no-repeat;
    background-size: contain;
    &__info{
        color: #ffffff;
        h5{
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 0px;
        }
        p{
            font-size: 16px;
            color: rgba(255, 255, 255, 0.75);
            margin-bottom: 0px;
            padding: 8px 0px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .got-question{
        padding-left: 118px;
        text-align: right;
    }
 }
 @media (min-width: 576px) and (max-width: 767px) {
    .got-question{
        flex-wrap: wrap;
        background-position: center left;
        background-size: 150px;
    }
    .got-question {
        padding-left: 150px;
    }
    .got-question .btn{
        margin: 0 auto;
    }
 } 
@media (max-width: 575px) { 
    .got-question {
        background-image: none;
        padding: 30px;
        text-align: center;
    }
    .got-question__info {
        margin-bottom: 10px;
    }
}

@include small {
    
}

@media (min-width: 992px) {
    .got-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
