// start code from here

// title
.section {
	&_title {
		font-size: 48px;
		font-weight: 800;
		padding-bottom: 60px;
		span {
			// background-color: rgba(98, 214, 48, 0.349);
			background-color: rgb(243 255 238);
			border-radius: 5px;
			padding: 5px 15px;
			text-transform: lowercase;
			color: color(primary);
		}
	}
}

.bootcamp {
	&__packages {
		border: 0px;
		box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.356);
	}
	&__top {
		text-align: center;
	}

	&_course-title {
		text-align: left;
		font-size: 26px;
		font-weight: 700;
	}

	&__begin-date-info {
		h2 {
			font-size: 18px;
			font-weight: 800;
			text-transform: capitalize;
			padding-bottom: 30px;

			.time {
				background-color: color(primary);
				color: #fff;
				padding: 8px;
				font-size: 12px;
			}

			.bootcamp_begin {
				background-color: #f39233;
				color: #fff;
				padding: 8px;
				font-size: 12px;
			}
		}
	}

	&__bottom {
		border-top: 2px solid color(primary);
		padding-top: 16px;
	}
}

// Responsive
@media (max-width: 1024px) {
	.bootcamp__packages {
		margin-bottom: 30px !important;
	}
}

/* === For Small Device ( 0px - 767px) == */
@include small {
	.section_title {
		font-size: 26px;
		line-height: 26px;
	}
}

/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {
	.section_title {
		font-size: 18px;
		line-height: 18px;
	}
}

/* === For Medium Device ( 768px - 1023px) == */
@include medium {
}

/* === For Large Device ( 1024px - 1200px) == */
@include large {
}


section.bootcamp {
	background-color: #edefff;
	.heading-title {
		font-size: 48px;
		font-weight: 800;
		padding-bottom: 60px;
		span {
			background-color: rgba(color(primary), 0.15);
			border-radius: 5px;
			padding: 5px 15px;
			text-transform: lowercase;
			color: color(primary);
		}
	}
	.bootcamp{
		&-preview {
			border: 1px solid #fff;
			border-radius: 5px;
			margin-bottom: 50px;
			background-color: white;
			box-shadow: 0 0 20px rgba(65, 71,66, 0.1);
			.header {
				border-bottom: 1px solid #ececec;
				padding: 20px 30px;
				.title {
					display: flex;
					align-items: center;
					margin-bottom: 20px;
					.icon {
						height: 40px;
						width: 40px;
						line-height: 40px;
						background-color: rgba(color(primary), 0.15);
						text-align: center;
						margin-right: 20px;
						border-radius: 5px;
					}
					p {
						font-size: 24px;
						margin-bottom: 0;
						color: color(secondary);
						font-weight: bolder;
					}
				}
				p {
					color: color(secondary);
					line-height: 28px;
					margin-bottom: 0;
				}
			}
			.body {
				border-bottom: 1px solid #ececec;
				padding: 20px 30px;
				.headline {
					font-weight: bolder;
					font-size: 20px;
					margin-bottom: 20px;
				}
				.check-list {
					margin-bottom: 0;
					li {
						width: 50%;
						p {
							font-family: 'Open Sans', sans-serif;
						}
					}
				}
			}
			.footer {
				padding: 20px 30px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.info {
					h5 {
						font-size: 16px;
						font-weight: bold;
						color: color(secondary);
					}
					p {
						margin-bottom: 0;
						font-size: 16px;
						color: rgab(color(secondary), 0.5);
					}
				}
			}
		}
	}
}
