// start code from here

// title
.section {
  &_title {
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 60px;
    span {
      background-color: rgba(255, 0, 0, 0.171);
      border-radius: 5px;
      padding: 0px 8px;
      text-transform: lowercase;
      color: red;
    }
  }
}

.bootcamp {
  &__top {
    text-align: center;
  }

  &_course-title {
    text-align: left;
    font-size: 26px;
    font-weight: 700;
  }

  &__begin-date-info {
    h2 {
      font-size: 18px;
      font-weight: 800;
      text-transform: capitalize;
      padding-bottom: 30px;

      .time {
        background-color: color(primary);
        color: #fff;
        padding: 8px;
        font-size: 12px;
      }

      .bootcamp_begin {
        background-color: #f39233;
        color: #fff;
        padding: 8px;
        font-size: 12px;
      }
    }
  }

  &__bottom {
    border-top: 2px solid color(primary);
    padding-top: 16px;
  }

  //   button
  &_explore {
    background-color: color(primary) !important;
    transition: all 0.3s linear;
    font-weight: 600;
    border-radius: 0px !important;

    &:hover {
      background-color: color(secondary) !important;
    }
  }
}

// Responsive
@media (max-width: 1024px) {
  .bootcamp__packages {
    margin-bottom: 30px !important;
  }
}

/* === For Small Device ( 0px - 767px) == */
@include small {
  .section_title {
    font-size: 26px;
    line-height: 26px;
  }
}

/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {
  .section_title {
    font-size: 18px;
    line-height: 18px;
  }
}

/* === For Medium Device ( 768px - 1023px) == */
@include medium {
}

/* === For Large Device ( 1024px - 1200px) == */
@include large {
}
