.faq-area__text{
    margin-bottom: 55px; 
    h5{
        margin-bottom: 15px;
        color: #1C1D1F;
        font-weight: 700;
        font-size: 22px;
    }
    p{
        color: #677987;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }
}
