.footer {
	padding: 35px 0px;
	.row {
		align-items: center;
	}
	//   logo
	&__logo {
		img {
			max-width: 190px;
		}
	}
	// menues
	&__menues {
		display: flex;
		justify-content: center;
		li {
			margin: 0px 16px;
			a {
				font-size: 16px;
				line-height: 24px;
				color: $dark;
				font-weight: 600;
				text-transform: capitalize;
				&:hover {
					color: $primary;
				}
			}
		}
	}
	//   social icons
	&__social-icon {
		display: flex;
		margin-left: auto;
		justify-content: flex-end;
		li {
			margin: 0px 16px;
			a {
				background-color: rgba($dark, 0.15);
				width: 35px;
				height: 35px;
				line-height: 35px;
				border-radius: 50%;
				text-align: center;
				color: $dark;
				&:hover{
					color: white;
					background-color: $primary;
				}
			}
		}
	}
}

/* ====  Responsive Css will be go here ==== */

//  for large medium - common
@media (max-width: 991px) {
	.footer {
		padding-bottom: 12px;
		.row {
			text-align: center;
		}
		// menus
		&__menues {
			padding: 12px 0px;
		}
		&__social-icon {
			justify-content: center;
		}
	}
}
