.trainer-title {
	margin-bottom: 60px;

	h6 {
		color: #5b6d7c;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	h4 {
		color: $dark;
		font-weight: bold;
		font-size: 30px;
	}
}

.trainer-area {
	max-width: 450px;
	margin: auto;
	margin-bottom: 30px;

	&__image {
		border-radius: 5px;
		overflow: hidden;

		img {
            transition: 0.3s all linear;
            height: 310px;
            width: 100%;
            object-fit: cover;
		}
	}

	&__info {
		padding: 20px 0px;
		border-radius: 5px;
		position: relative;
		margin: -50px 20px 0px;
		z-index: 1;
		background-color: #ffffff;
		box-shadow: 0px 10px 10px rgba(195, 195, 195, 0.2);

		h5 {
			font-size: 20px;
			font-weight: 900;
			color: $dark;
		}

		p {
			font-size: 16px;
			color: $dark;
			margin-bottom: 0 !important;
		}
	}

	&:hover {
		.trainer-area__image img {
			transform: rotate(5deg) scale(1.1);
		}
	}
}

section.trainer {
    padding-bottom: 120px;
}

// responsive
/* === For Small Device ( 0px - 767px) == */
@include small {
	.trainer-area {
		margin-bottom: 30px;
	}
}

// Responsive
// Responsive function
@mixin ex_small {
	@media (min-width: 320px) and(max-width: 575px) {
		@content;
	}
}
